/* Bordes */
.container-fluid {
    padding: 200x; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px rgb(0, 0, 0); 
    font-weight: bold;
    font-size: 20px;
    color: #070707;
    text-shadow: 1px  #000;
}
/* borde*/

/* color Letra navbar */
.navbar .navbar-nav .nav-link {
    color: #000000;
}
/* colorde la letra al pasar el mouse */
.navbar .navbar-nav .nav-link:hover {
    color: #000000d5;
}

/* Estilos para los cards */
/* borde */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    margin-bottom: 20px;
}
/* borde imagenes card */
.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 100px;
}
/* tamaño cards */
.card-body {
    background-color: #fff;
    padding: 1%;
}

.card-title .nojotros{
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.card-text {
    color: #505050;
    font-size: 20px;
}

/* inicioooooo */
.carousel-item img {
    height: 500px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

.card {
  transition: transform 0.3s;
  background: linear-gradient(to top, #dad3d3d5 10%, rgb(0, 0, 0) 100%) no-repeat;
}

.card:hover {
  transform: scale(1.05);
}



/*  foooter*/
    .container-footer {
        background-color: #f4f4f4;
        padding: 5px 5px;
        text-align: center;
        
    }
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
.footer-section {
    flex: 1;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 1px;
    text-shadow: 1px  #000;
}


.contact-form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 200px;
    text-shadow: 1px  #000;
}

/* Estilo para los campos de formulario */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Espacio entre cada grupo de formulario */
}

.form-group label {
    font-weight: bold; /* Letra negrita */
    margin-right: 5px; 
    min-width: 5px; 
}

.error-message {
    font-size: 15px; 
    color: red; 
    align-items: center;
}

/* usuariooooooooooooooooooo*/
.form-content {
    display: flex;
    justify-content: space-between;
  }
  
  .form-left {
    flex: 1;
  }
  
  .form-right {
    margin-left: 5px;
  }

